<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="public/img/favicon.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Cocoa Lux - Limelight Music</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet"/>


    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
        <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
        <div class="container">
            <div class="navbar-header">
                <!-- <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button> -->
                <a href="#" class="navbar-brand">
                    Cocoa Lux
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right navbar-uppercase">
                    <li>
                        <a href="https://tllis.net" target="_blank">Limelight</a>
                    </li>
                    <li class="dropdown">
                        <a href="#gaia" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-share-alt"></i> Follow Zay
                        </a>
                        <ul class="dropdown-menu dropdown-danger">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=1666930353341708"><i class="fa fa-facebook-square"></i> Facebook</a>
                            </li>
                            <li>
                                <a href="https://twitter.com/zaymariemusic"><i class="fa fa-twitter"></i> Twitter</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i> Instagram</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://limelight-app.herokuapp.com/signin" target="_blank">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>


    <div class="section section-header">
        <div class="parallax filter filter-color-grey">
            <div class="image"
                style="background-image: url('/img/faces/zay-album.jpg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <h1 class="title-modern">Cocoa Lux</h1>
                        <p>Natural | Beauty | Flawless</p>
                        <!-- <div class="separator line-separator">♦</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Artist Information</h2>
                    <div class="separator separator-danger">∎</div>
                    <p class="description">Hometown: Virginia Beach
                      <br>Genre: Pop, R&ampB and Soul
                      <br>Influence: Whitney Houston, Stevie Wonder, Beyonce, Solange, Sam Smith
                      <br>Label: Self Released
                    </p>
                </div>

                <div class="col-md-6">
                    <h2>Biography</h2>
                    <div class="separator separator-danger">∎</div>
                    <p class="description">Zay'Marie is an amazing singer/songwriter with a passion for soul, pop, and R&ampB music! An artist, and natural hair enthusiast based in Atlanta, GA. <br>As a child, she began singing at her grandfather's church, this foundation helped her to develop her unique sound and appreciation for music. Zay plays guitar, writes her own music, dances, produces, and has a voice that will blow you away.
                    </p>

                    <p class="description">
                        Her goal is to change the world through music and self-expression; her belief is that music should uplift, and there should be song for every feeling; from a first kiss, to loss, to the warmth of the sun. Zay is putting the soul back in R&ampB.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2>Upcoming Shows</h2>
                    <div class="separator separator-danger">∎</div>
                    <p class="description show-text" font-size="red">
                    <b>Zay'Marie x Danity Kane x Glo96</b>
                    <br>  
                    <b> The Buckhead Theatre
                    <br>
                    <b> November 2, 2018 @ 8pm
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="/img/Design.jpg" width="400px">
                </div>
            </div>
        </div>
    </div>


    <div class="section section-our-team-freebie">
        <div class="parallax filter filter-color-black">
            <div class="image" style="background-image:url('/img/Design.jpg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="row">
                    <h2>Videos</h2>
                        <div class="separator separator-danger">∎</div>
                          <div class="col-md-4">
                             <iframe width="400" height="315" src="https://www.youtube.com/embed/9P4Oq-buNtI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                          </div>
                          <div class="col-md-4">
                             <iframe width="400" height="315" src="https://www.youtube.com/embed/-A6lfaYXykI" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                          </div>
                          <div class="col-md-4">
                             <iframe width="400" height="315" src="https://www.youtube.com/embed/tH-dJwFHnKc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <iframe width="660" height="415" src="https://www.youtube.com/embed/x2ww4OwqkzQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-our-clients-freebie">
        <div class="container">
            <div class="title-area">
                <h2>Gallery</h2>
                <div class="separator separator-danger">∎</div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="icons-container">
                            <iframe width="450" height="431" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/356524119&amp;color=%233a1b1f&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                    <h3>
<p class="description">
 
Zay follows up her Vivid EP with a full length album, Brand New. Brand New is a statement to the world; life forces us all to change, but that growth can be beautiful and transformative. Her sultry southern charm and catchy lyrics enchant listeners, as she bares her heart and soul. Words cannot describe how amazing this project is; you have to experience it for yourself. Be on the lookout for the Brand New Tour. Coming to a city near you!
                    </p>

                        </h3>
                        <h3>
                          
                        </h3>
                        <img src="img/zay-album1.jpg" width="180px">
                        <img src="img/faces/zay'marie2.jpg" width="200px">
                        <img src="img/faces/zay'marie.jpg" width="180px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-small section-get-started">
        <div class="parallax filter">
            <div class="image"
                style="background-image: url('/img/zay1.JPG')">
            </div>
            <div class="container">
                <div class="title-area">
                    <h2 class="text-white">Do you want to work with Zay?</h2>
                    <div class="separator line-separator">♦</div>
                    <p class="description"> For booking information, contact our management team at corp@tllis.net</p>
                </div>
               

                <div class="button-get-started">
                    <a href="mailto:corp@tllis.net" class="btn btn-danger btn-fill btn-lg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

<!-- Tweets Start
 -->

 <a class="twitter-timeline tweetBox"
  href="https://twitter.com/zaymariemusic"
  data-tweet-limit="3">
Tweets by @zaymariemusic
</a>
<script src="../public/js/custom.js"></script>

            <a class="twitter-timeline"  href="https://twitter.com/hashtag/tllis" ></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Tweets End
 -->
    <footer class="footer footer-big footer-color-black" data-color="black">
        <div class="container">
            <div class="row">
                
                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Follow us on</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/zaymariemusic/" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UC3v1jr6cKouC3hjVpZWL-LQ" class="btn btn-social btn-youtube btn-simple">
                                        <i class="fa fa-youtube"></i> Youtube
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/zaymariemusic" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copyright">
                 © <script> document.write(new Date().getFullYear()) </script> The Limelight Internet Showcase - All Rights Reserved.
            </div>
        </div>
    </footer>
</body>

<!--   core js files    -->
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>

<!--  js library for devices recognition -->
<script type="text/javascript" src="js/modernizr.js"></script>

<!--  script for google maps   -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
<link href="/css/style.css" rel="stylesheet"/>
<link href="/css/style.css" rel="stylesheet"/>
<link href="/views/css/gaia.css" rel="stylesheet"/>
<link href="/gaia.css" rel="stylesheet"/>
<link href="/gaia.css" rel="stylesheet"/>
<link href="style.css" rel="stylesheet"/>






</html>
