<!DOCTYPE html>
<html>
<head>
  <title>Footer</title>
</head>
<body>
<footer class="footer footer-big footer-color-black" data-color="black">
        <div class="container">
            <div class="row">
                
                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Follow us on</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/zaymariemusic/" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UC3v1jr6cKouC3hjVpZWL-LQ" class="btn btn-social btn-youtube btn-simple">
                                        <i class="fa fa-youtube"></i> Youtube
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/cocomacdiva" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copyright">
                 © <script> document.write(new Date().getFullYear()) </script> Cocoa Luxe - All Rights Reserved.
            </div>
        </div>
    </footer>
</body>
</html>